HELP.md

### Directories ###
.git/

AWS/TP-2/.terraform/
AWS/TP-2/*.tfstate
AWS/TP-2/*.backup
AWS/TP-2/*.hcl

AWS/TP-3/.terraform/
AWS/TP-3/*.tfstate
AWS/TP-3/*.backup
AWS/TP-3/*.hcl

AWS/TP-4/.terraform/
AWS/TP-4/*.tfstate
AWS/TP-4/*.backup
AWS/TP-4/*.hcl

AWS/TP-5/.terraform/
AWS/TP-5/*.tfstate
AWS/TP-5/*.backup
AWS/TP-5/*.hcl

AWS/TP-6/dev/.terraform/
AWS/TP-6/dev/*.tfstate
AWS/TP-6/dev/*.backup
AWS/TP-6/dev/*.hcl
AWS/TP-6/prod/.terraform/
AWS/TP-6/prod/*.tfstate
AWS/TP-6/prod/*.backup
AWS/TP-6/prod/*.hcl

